[submodule "workbench"]
	path = extraction/workbench/source
    url = https://github.com/styx-api/workbench.git
    branch = niwrap-json

[submodule "mrtrix"]
	path = extraction/mrtrix/source
    url = https://github.com/styx-api/mrtrix3.git
    branch = json-serial
