name: Test

on:
  push:
    branches:
    - main
    tags:
    - '*'
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7

    - name: Ruff check
      run: uv --directory tooling run ruff check src/

    - name: Ruff format
      run: uv --directory tooling run ruff format --check src/

    - name: Mypy
      run: uv --directory tooling run mypy src/

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install the latest version of uv
      uses: astral-sh/setup-uv@v7

    - name: Test descriptors
      run: uv --directory tooling run wrap test
