name: Validate & Test
on:
  push:
      branches:
      - main
      tags:
      - '*'
  pull_request:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install pytest
          pip install pip install git+https://github.com/styx-api/boutiques-schema-pydantic.git
      - name: Run tests
        run: |
          pytest tests
